
<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Add New Book</h2>
        <form method="POST" class="form-box">
            <label>Title:</label><input name="title" required><br>
            <label>Author:</label><input name="author" required><br>
            <button type="submit">Add Book</button>
        </form>
        <a href="/" class="back-link">Back to Home</a>
    </div>
</body>
</html>
